{% extends 'base.html' %}

{% load static %}

{% block pageContent %}
    <div id="app">
    </div>
    <script type="text/babel" src="{% static 'components/Agregar.js' %}"></script>
    <script type="text/babel" src="{% static 'components/TablaUsuarios.js' %}"></script>
    <script type="text/babel" src="{% static 'components/TablaDispositivos.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Usuarios.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Resultados.js' %}"></script>
    <script type="text/babel" src="{% static 'components/Dispositivos.js' %}"></script>
    <script type="text/babel" src="{% static 'components/App.js' %}"></script>

    <script type="text/babel">
        const root = ReactDOM.createRoot(document.querySelector('#app'))
        root.render(<App />)
    </script>
{% endblock %}